<!DOCTYPE html>
<html>
<head>
  <title>Moodstagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
	<section class=templateholder>
		<header class=Layout7_header>
			<%= link_to 'Moodstagram', pictures_path, id: "logo" %> 
		</header>
		<section id="links-and-messages">
			<% if user_signed_in? %>
				<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "link" %>
			<% else %>
				<%= link_to 'Sign in', new_user_session_path, class: "link" %>
				<%= link_to 'Sign up', new_user_registration_path, class: "link" %>
			<% end %> 
			<%= flash[:notice] %>
	    <%= flash[:error] %>
		</section>
		<section class=Layout7_1 ></section>
		<section class=Layout7_2 >
	    <%= yield %></section>
	 	<section class=Layout7_3 ></section>
	 	<section class=Layout7_4 ></section>
	 	<section class=Layout7_5 ></section>
 	</section>
</body>
</html>
